.banner{
    background-color: tomato;
    width:100%;
    height:150px;
    margin-bottom:50px;
}

.banner-text{
    top:15%;
    left:45%;
    text-shadow: 2px 2px blue;
    position:absolute;
    transform:transform;

}
.btn btn-success:hover {background-color: #3e8e41}

.btn btn-success:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}